$box-shadow:
  0px 1px 1px 0px rgba(0, 0, 0, 0.15),
  0px 2px 2px -1px rgba(0, 0, 0, 0.15),
  0px 0px 3px 0px rgba(0, 0, 0, 0.2);

.sites-table-controls {
  .main-toolbar{
    padding-bottom: $spv--large;
  }

  .remove-button__wrapper {
    background-color: $color-x-light;
    height: fit-content;
    width: fit-content;
    margin-bottom: $sph--large;

    .remove-btn {
      margin-bottom: 0;
    }
  }
  
  .p-segmented-control {
    width: fit-content;
  }

  &.is-map-view {
    .main-toolbar__title {
      font-weight: $font-weight-regular-text;
    }

    .p-search-box__input,
    .remove-button__wrapper,
    .sites-view-control {
      box-shadow: $box-shadow;
    }

    .sites-view-control {
      .p-segmented-control__button {
        margin-bottom: 0;
      }
    }
  }
}
