.add-to-available-images {
  &__table {
    border-collapse: separate;
  
    thead {
      th:first-child {
        width: 30%;
      }
  
      th:last-child {
        width: 70%;
      }
    }
  
    td {
      overflow: visible;
    }
  }

  .p-accordion__panel {
    overflow: visible;
  }
}

.p-contextual-menu__dropdown {
  z-index: 1000;
  
  .multi-select__dropdown {
    margin-top: 20px;
  }
}
